.App {
  text-align: center;
}

body {
  background-color: lightblue;
  /* Інші ваші стилі для body */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
.sidebar-button {
  padding: 10px 15px;
  margin-bottom: 10px; /* Додаємо відступ знизу */
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
  font-size: 16px;
width: auto;
    margin-right: 10px; /* Додає відступ справа від кожної кнопки */
text-align: center;
}


.sidebar {
	  margin-top: 5px;
	  display: flex;
  justify-content: center;
}



.main-content {
	    background-color: white;
	  margin-left: 50px;
	  margin-right: 50px;
  padding-left: 20px;
}